mixin footer()
	+b.FOOTER.footer.section#footer
		+e.bg
			img(src="img/footer-bg.png", alt="")
		.container
			h2 Join our community
			+e.caption Don&rsquo;t miss the launch of&nbsp;the most long-awaited project on&nbsp;the TON blockchain in&nbsp;2022
			+e.btn.btn.btn-primary(href="#")
				+icon('twitter')
				span Join our community
			+e.copyright Hypers NFT © 2022
			+scrollbar
		+e.pics-wrap
			+e.PICTURE.pic--pic1
				source(media="(min-width: 992px )", srcset="img/footer-pic-1.png") 
				img(src="img/footer-pic-1-mob.png", alt="")
				
			+e.PICTURE.pic--pic2
				source(media="(min-width: 992px )", srcset="img/footer-pic-2.png") 
				img(src="img/footer-pic-2-mob.png", alt="")
			+e.PICTURE.pic--pic3
				source(media="(min-width: 992px )", srcset="img/footer-pic-3.png") 
				img(src="img/footer-pic-3-mob.png", alt="")