mixin sForm()
	// start sForm
	+b.SECTION.sForm.section#sForm&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 sForm
				h2 sForm
				h2 sForm
				h2 sForm
				
			.row
	// end sForm