mixin sPic(data)
	// start sPic
	+b.sPic.section#sPic&attributes(attributes)
		.paper-bg.paper-bg--up.transform
			//- img(src="img/paper-bg-down.png", alt="")
		.paper-bg
			//- img(src="img/paper-bg-up.png", alt="")
		+e.white-crest--left
			img(src="img/white-crest.png", alt="")
		+e.white-crest--right
			img(src="img/white-crest.png", alt="")
	// end sPic