mixin sRoadmap(data)
	// start sRoadmap
	+b.SECTION.sRoadmap.section#sRoadmap&attributes(attributes)
		.container
			h2 Roadmap
			+e.road
				mixin item(title,caption)
					+e.road-item
						+e.road-item-wrap
							h3!=title
							+e.road-item-caption!=caption
				+item(`Concept`,`Building a&nbsp;project concept and strong utilities. Work on&nbsp;Whitepaper and Tokenomics.`)
				+item(`Development`,`Development of&nbsp;$HYPERS and platforms: Launchpad, Staking, Raffles.`)
				+item(`Mint`,`Testnet mint with subsequent rewards for participants. Main mint collection 5555&nbsp;NFT.`)
				+item(`Hyperlty`,`Work on&nbsp;the Hyperlty pool. Marketing for Launchpad, Staking, Raffles. Bringing other collections to&nbsp;our platforms.`)
				+item(`Preparation<br>for the project`,`Making figurines of&nbsp;Hypers`)
				+e.road-item-finish And that's just the beginning
		
	// end sRoadmap