// start .headerBlock
.headerBlock {
	@include media-breakpoint-up(lg) {
		--sPT: #{rem(100)};
		--sPB: #{rem(220)};
		padding-left: rem(40);
		padding-right: rem(40);
	}
	--sPT: #{rem(140)};
	--sPB: #{rem(90)};
	padding-left: rem(25);
	padding-right: rem(25);
	display: flex;
	flex-direction: column;
	background-color: #f4f3f4;
	&__bg-text {
		position: absolute;
		z-index: 1;
		left: 50%;
		transform: translateX(-50%);
		@include media-breakpoint-up(lg) {
			top: 29.4%;
			width: calc(100vw - rem(80));
		}
		width: 100%;
		top: 36.25%;
		img {
			max-width: 100%;
		}
	}
	&__wrap {
		display: flex;
		margin-top: auto;
		flex-direction: column;
		align-items: center;
		@include media-breakpoint-up(lg) {
			flex-direction: row;
		}
	}
	&__block {
		display: flex;
		@include media-breakpoint-up(lg) {
			width: rem(130);
		}
		@include media-breakpoint-down(lg) {
			justify-content: center;
		}
	}
	&__caption {
		@include media-breakpoint-up(lg) {
			margin-bottom: 0;
			flex-grow: 1;
			font-size: $small;
		}
		margin-bottom: rem(29);
		text-align: center;
		color: $secondary;
	}
	&__slider {
		// max-width: 100%;
		overflow: visible;
	}
	&__wrap-slider {
		@include media-breakpoint-up(lg) {
			width: 40.625vw;
			margin-left: auto;
			margin-right: auto;
		}
	}
	&__slide {
		@include media-breakpoint-up(lg) {
			// width: 40.625vw !important;
		}
		@include block(100, 100);
		// border: 1px solid black;
		transition-duration: 1s;
		z-index: 1;
		// background-color: green;
		video,
		p {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
	}
	.swiper-slide-active {
		z-index: 2;
		// background-color: red;
	}
	.swiper-slide-prev {
		// transform: scale(0.77) translateX(9.9vw);
	}
	.swiper-slide-next {
		// transform: scale(0.77) translateX(-9.9vw);
	}
	@include media-breakpoint-up(xl) {
	}

	@include media-breakpoint-up(lg) {
	}

	@include media-breakpoint-up(md) {
	}

	@include media-breakpoint-up(sm) {
	}

	@include media-breakpoint-up(xs) {
	}

	//
	@include media-breakpoint-between(md, xl) {
	}

	//
	@include media-breakpoint-only(xs) {
	}

	@include media-breakpoint-only(sm) {
	}

	@include media-breakpoint-only(md) {
	}

	@include media-breakpoint-only(lg) {
	}

	@include media-breakpoint-only(xl) {
	}

	//
	@include media-breakpoint-down(xl) {
	}

	@include media-breakpoint-down(lg) {
	}

	@include media-breakpoint-down(md) {
	}

	@include media-breakpoint-down(sm) {
	}

	@include media-breakpoint-down(xs) {
	}
}

// end.headerBlock
