- const version = '0.0.1'
mixin allcss() 
	link(href="libs/swiper/swiper-bundle.min.css", rel="stylesheet")
	link(href="libs/@fancyapps/ui/fancybox.css", rel="stylesheet")
	//- link(href=`css/main.min.css?v=${version}`, rel="stylesheet")
	link(href=`css/main.min.css`, rel="stylesheet")

mixin allcjs() 
	script(src="libs/jquery/jquery.min.js")
	script(src="libs/@fancyapps/ui/fancybox.umd.js") 
	script(src="libs/swiper/swiper-bundle.min.js")  
	script(src="libs/inputmask/inputmask.min.js") 
	//- script(src=`js/common.js?v=${version}`)
	script(src=`js/common.js`)