// start .sAbout
.sAbout {
	@include media-breakpoint-up(lg) {
		--sPT: #{rem(180)};
		--sPB: #{rem(280)};
	}
	--sPT: #{rem(60)};
	--sPB: #{rem(50)};
	min-height: 100vh;
	// --sPB:0;
	h2 {
		text-align: center;
		margin-bottom: rem(47);
	}
	// background-image: url(../img/about-bg.png);
	// background-size: contain;
	// background-repeat: no-repeat;
	// background-position: center;
	&__wrap {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	&__bg {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		img {
			width: 100%;
			max-width: 100%;
			height: 100%;
			max-height: 100%;
			object-fit: cover;
		}
	}
	&__caption {
		width: 100%;
		max-width: rem(980);
		@include media-breakpoint-up(lg) {
			margin-bottom: rem(60);
		}
		text-align: center;
		margin-bottom: rem(40);
	}
	// &__images {
	// 	@include media-breakpoint-up(lg) {
	// 		margin-bottom: rem(60);
	// 		height: rem(340);
	// 	}
	// 	height: rem(180);
	// 	margin-bottom: rem(40);
	// }
	.container {
		@include media-breakpoint-down(sm) {
			padding-left: rem(25);
			padding-right: rem(25);
		}
		position: relative;
		z-index: 4;
	}
	&__slider {
		@include media-breakpoint-up(lg) {
			margin-bottom: rem(60);
			height: rem(340);
		}
		height: rem(180);
		margin-bottom: rem(40);
		max-width: 100%;
	}
	&__slide {
		@include media-breakpoint-up(lg) {
			width: rem(340);
		}
		width: rem(180);
		img {
			max-width: 100%;
			max-height: 100%;
			width: 100%;
			height: 100%;
			transform: rotate(-15deg);
		}
	}
	.swiper-wrapper {
		transition-timing-function: linear !important;
	}
	.paper-bg--up {
		background-color: #fefcfe;;
	}
	@include media-breakpoint-up(xl) {
	}
	@include media-breakpoint-up(lg) {
	}
	@include media-breakpoint-up(md) {
	}
	@include media-breakpoint-up(sm) {
	}
	@include media-breakpoint-between(md, xl) {
	}
	@include media-breakpoint-only(xl) {
	}
	@include media-breakpoint-down(xl) {
	}
} // end.sAbout
