mixin sAbout(data)
	// start sAbout
	+b.SECTION.sAbout.section#sAbout&attributes(attributes)
		.container
			+e.wrap
				h2 About Hypers
				+e.caption Hypers is&nbsp;a&nbsp;collection of&nbsp;5555&nbsp;NFTs. Stake and get $HYPERS. Use $HYPERS to&nbsp;buy NFT blue chips or&nbsp;participate in&nbsp;raffles. The holders manage the Hyperlty pool, which is&nbsp;constantly replenished with liquidity from the Launchpad, Staking, Raffles services and Royalty.
				+e.slider--js
					.swiper-wrapper
						mixin slide(pic)
							+e.slide.swiper-slide
								img(src=`img/about-${pic}.png`, alt="")
						- for(var x = 0; x<15; x++)
							+slide(x+1)
				+e.btn.btn.btn-outline-primary(href="https://twitter.com/HypersPlatform"  target="_blank")
					+icon("twitter")
					| Join Community
		.paper-bg.paper-bg--up
			img(src="img/paper-bg-up1.png", alt="")
		.paper-bg
			img(src="img/paper-bg-up1.png", alt="")
		+e.bg
			img.d-none.d-lg-block(src="img/about-bg.png", alt="")
			img.d-block.d-lg-none(src="img/about-bg-mob.png", alt="")
	// end sAbout