mixin sAbout(data)
	// start sAbout
	+b.SECTION.sAbout.section#sAbout&attributes(attributes)
		.container
			+e.wrap
				h2 What is Hypers?
				+e.caption Hypers - hype bears based on&nbsp;Binance in&nbsp;the amount of&nbsp;2222 unique 3D&nbsp;NFTs.<br />These bears don&rsquo;t hibernate, they stay on&nbsp;the hype all year round.<br /><br />Bears will be&nbsp;integrated into any available metaverse. When buying Hypers NFT, you have the opportunity to&nbsp;get limited merch and a&nbsp;Hypers figurine.
				+e.slider--js
					.swiper-wrapper
						mixin slide(pic)
							+e.slide.swiper-slide
								img(src=`img/about-${pic}.png`, alt="")
						- for(var x = 0; x<15; x++)
							+slide(x+1)
				+e.btn.btn.btn-outline-primary(href="#") Join our community
		.paper-bg
			//- img(src="img/paper-bg-up.png", alt="")
		+e.bg
			img.d-none.d-lg-block(src="img/about-bg.png", alt="")
			img.d-block.d-lg-none(src="img/about-bg-mob.png", alt="")
	// end sAbout