extends ../layout/main.pug


include ../blocks/sContent/_sContent.pug
include ../blocks/sContact/_sContact.pug
include ../blocks/sForm/_sForm.pug

block variables
	- let  mainPage= null 
	- let  bg= null

block title
	- let  title= 'Модальные окна'
	title= title
block pagecontent
	//- +topLine()
	
	.section.container
		h1 Страница для  демонстрации модальных окон
		.row
			mixin btn(id, name)
				.col-auto.mb-2
					a.btn.btn-primary(href=`#` data-src=id data-fancybox="modal")= name
			+btn("modal-call", "modal-call")

