extends ../layout/main.pug

//- include ../blocks/header/_header.pug
//- include ../blocks/topLine/_topLine.pug
include ../blocks/top-nav/_top-nav.pug 
include ../blocks/headerBlock/_headerBlock.pug
include ../blocks/sAbout/_sAbout.pug
 
include ../blocks/sPic/_sPic.pug
include ../blocks/sTeam/_sTeam.pug
include ../blocks/sRoadmap/_sRoadmap.pug
include ../blocks/sFAQ/_sFAQ.pug
include ../blocks/footer/_footer.pug

block variables
	- let  mainPage= 'main-page' 
	//- - let  bg= 'main.jpg'

block title
	- let  title= 'Hypers NFT based on Binance'
	title= title
block pagecontent
	//- +mob-mnu()
	
	
	//- +header()
	+top-nav()
	+headerBlock 
	+sAbout
	+sRoadmap()
	+sPic
	+sTeam()
	+sFAQ
	+footer()
      



