mixin product-item(i, t, p ,pr)
	+b.product-item
		+e.img-wrap(href="#")
			//- если надо картинку по центру  вывести использовать обертку .img-wrap-center  - если нет- убираем
			.img-wrap-center 
				+img(`img/prod-${i}.jpg`)
		+e.caption
			+e.title!= t
			+e.text!= p
			+e.price!= pr
			+e.btn(href='#')
	// /.product-item

mixin sCatalog(data)
	// start sCatalog
	+b.sCatalog.section&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 sCatalog
				p Выкупаем проблемные автомобили в день обращения

			+e.row.row
				- const wrapClass="col-3"
				+e.col(class= wrapClass)
					+product-item(`1`,``,``,``) 
				+e.col(class= wrapClass)
					+product-item(`2`,``,``,``) 
				+e.col(class= wrapClass)
					+product-item(`3`,``,``,``) 
				+e.col(class= wrapClass)
					+product-item(`4`,``,``,``) 
				+e.col(class= wrapClass)
					+product-item(`5`,``,``,``) 
				+e.col(class= wrapClass)
					+product-item(`6`,``,``,``) 
				+e.col(class= wrapClass)
					+product-item(`7`,``,``,``) 
				+e.col(class= wrapClass)
					+product-item(`8`,``,``,``) 

	// end sCatalog