mixin menu-toggle()
	+b.toggle-menu-mobile--js.d-lg-none
		//- span
		+e.bg-close
			img(src="img/svg/ham-close.svg", alt="")
		+e.bg-open
			img(src="img/svg/ham-open.svg", alt="")
mixin mob-mnu()
	-
		//- let path = require('path');
		//- let fs = require('fs');
		//- var requestURL = 'top-nav.json';
		//- var request = new XMLHttpRequest();
		//- request.open('GET', requestURL);
		//- request.responseType = 'json';
		//- let dataJson = JSON.parse(json);
	//- h1= dataJson['lala'] 
	+b.menu-mobile--js
		+b.toggle-menu-mobile--js
			span
		+e.inner
			+mnu()
	//  мобильное меню
mixin top-nav() 
	// start top-nav
	+b.top-nav.block-with-lazy
		.row
			+e.col.col-auto
				+e.logo(href='#')
					img(src="img/svg/logo.svg", alt="")
			.col
				.menu-mobile.menu-mobile--js
					.menu-mobile__inner
						+menu-toggle()
						+mnu()
					+e.mob-wrap
						+e.join.btn.btn-outline-primary.btn-small(href='https://twitter.com/hypersnfts') 
							+icon("twitter")
							| Join Community
						+soc
						+e.cop Hypers NFT © 2022
			+e.col--right.col-auto.d-none.d-lg-block
				+e.join.btn.btn-outline-primary.btn-small(href='https://twitter.com/hypersnfts')
					+icon("twitter")
					| Join Community
			+e.col.col-auto.d-lg-none
				+menu-toggle()
	// end top-nav