.soc {
	@include roww(10px, m);
	display: flex;
	&__item {
		text-decoration: none !important;
		vertical-align: middle;
		@include mt;
		display: flex;
		justify-content: center;
		align-items: center;
		width: rem(60);
		height: rem(60);
	
		border-radius: 50%;
		@include media-breakpoint-up(lg) {
			background-color: $white;
			.icon {
				color: $primary;
			}
		}
		background-color: $primary;
		.icon {
			color: $white;
		}
		&:hover {
			// box-shadow: 0 0 33px 0px rgba(255, 83, 0, 0.16);
			// opacity: .6 ;
			@include media-breakpoint-up(lg) {
				background-color: $primary;
				.icon {
					color: $white;
				}
			}
			background-color: $white;
			.icon {
				color: $primary;
			}
		}
	}
	.icon {
		font-size: rem(30);
	}
}

.counter {
	counter-reset: num;
	&__item {
		position: relative;
		&::before {
			content: counter(num);
			counter-increment: num;
		}
	}
}

.addBlock {
	color: var(--color, #{$primary});
	border: 1px solid;
	border-radius: 23px;
	display: flex;
	position: relative;
	overflow: hidden;
	input {
		color: inherit;
		text-align: center;
		border: none;
		height: rem(45);
	}
	&__btn {
		color: inherit;
		height: rem(45);
		position: relative;
		border-radius: 23px;
		background: none !important;
		border: none !important;
		box-shadow: none !important;
		outline: none !important;
		background: transparent;
		// padding-left: rem(8);
		// padding-right: rem(8);
		width: rem(26);
		&::before,
		&::after {
			content: "";
			width: 10px;
			height: 2px;
			background-color: currentColor;
			@include a-cent;
			position: absolute;
		}
		&--plus::after {
			transform: rotate(90deg);
		}
	}
}

.search-block {
	position: relative;
	input {
		font-size: 14px;
		width: 100%;
		border: none !important;
		outline: none !important;
		padding-left: rem(30);
		padding-top: rem(14);
		padding-bottom: rem(14);
	}
	.icon {
		font-size: rem(20);
		border: none !important;
	}
	button {
		position: absolute;
		left: 0;
		top: 0;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		background: none !important;
		border: none !important;
	}
}

.breadcrumb-item {
	width: auto;
	margin-right: rem(32);
}

.scroll-bar {
	display: flex;
	align-items: center;
	transition-duration: 0.4s;
	@include media-breakpoint-down(lg) {
		margin-left: auto;
		margin-right: auto;
		padding-bottom: rem(40);
	}
	@include media-breakpoint-up(lg) {
		position: fixed;
		bottom: rem(20);
		left: rem(40);
		z-index: 10;
	}
	.active {
		display: block;
	}
	.visible {
		opacity: 1;
	}
	&__down,
	&__up {
		display: none;
		opacity: 0;
		transition-duration: 0.2s;
		margin-left: rem(14);
		font-size: $small;
		line-height: calc(20 / 16);
	}
	&__down {
		@include media-breakpoint-down(lg) {
			display: none !important;
		}
	}
	&__up {
		@include media-breakpoint-down(lg) {
			display: block !important;
			opacity: 1 !important;
		}
	}
	.circle-bar {
		width: rem(60);
		height: rem(60);
		transform: rotate(-90deg);
	}
	circle {
		fill: transparent;
		stroke-width: 2;
		stroke-dashoffset: 220;
	}
	.incomplete {
		stroke: #ddddde;
		@include media-breakpoint-down(lg){
			display: none;
		}
	}
	.complete {
		stroke: $primary;
		stroke-dasharray: 220;
		@include media-breakpoint-down(lg) {
			display: block;
			stroke-dashoffset:0 !important;
		}
	}
	&__circle {
		position: relative;
	}
	&__link {
		position: absolute;
		display: none;
		opacity: 0;
		transition-duration: 0.4s;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		&.active {
			display: flex;
		}
		justify-content: center;
		align-items: center;
		.icon {
			font-size: 24px;
		}
		&--down {
			@include media-breakpoint-down(lg) {
				display: none !important;
			}
		}
		&--up {
			@include media-breakpoint-down(lg) {
				display: flex !important;
				opacity: 1 !important;
			}
		}
	}
}
