mixin sTeam(data)
	// start sTeam
	+b.SECTION.sTeam.section#sTeam&attributes(attributes)
		.container
			h2 Team
			+e.caption HYPERS&nbsp;&mdash; a&nbsp;collection of&nbsp;5555&nbsp;NFT on&nbsp;the Aptos Blockchain. Launchpad, Staking, Raffles. Stake and get $HYPERS
			.row
				mixin item(pic,title,caption, a)
					.col-lg-2.col-md-4.col-6
						+e.item
							+pic(`team-${pic}.png`,'',0)
							+e.item-title-wrap
								+e.item-title!=title
								//- if a
								//- 		+e.item-link(href= a target="_blank")
								//- 			+icon('twitter')
							+e.item-caption!=caption
				+item(1,`Michael`,`Creative Director`,'https://twitter.com/dan_ielas')
				+item(2,`Daniel`,`CEO`,'https://twitter.com/axubsc')
				+item(3,`Orlando`,`NFT specialist`)
				+item(4,`Pedro`,`Marketing Manager`)
				+item(5,`Nick`,`Developer`)
				
			+e.btn.btn.btn-outline-primary(href="https://twitter.com/HypersPlatform"  target="_blank")
				+icon("twitter")
				| Join Community
		.paper-bg
			img(src="img/paper-bg-up.png", alt="")
	// end sTeam2