mixin sTeam(data)
	// start sTeam
	+b.SECTION.sTeam.section#sTeam&attributes(attributes)
		.container
			h2 Team
			+e.caption Hypers&nbsp;&mdash; NFT collection of&nbsp;2222 unique high quality characters built on&nbsp;Binance
			.row
				mixin item(pic,title,caption, a)
					.col-lg-2.col-md-4.col-6
						+e.item
							+pic(`team-${pic}.png`,'',0)
							+e.item-title-wrap
								+e.item-title!=title
								+e.item-link(href="#")
									+icon('twitter')
							+e.item-caption!=caption
				+item(1,`Daniels`,`Founder`,'https://twitter.com/dan_ielas')
				+item(4,`Andrew`,`Co-founder`,'https://twitter.com/axubsc')
				//- +item(3,`Marshall`,`Creative Director`,'')
				//- +item(4,`Orlando`,`Community Manager`,'')
				//- +item(5,`Kevin`,`Marketing Manager`,'')
				//- +item(6,`Robben`,`Blockchain Developer`,'')
			+e.btn.btn.btn-outline-primary(href="https://twitter.com/hypersnfts") Join our community
		.paper-bg
			img(src="img/paper-bg-up.png", alt="")
	// end sTeam