// start .sLaunchpad
.sLaunchpad {
	// --sPT: #{rem()};
	--sPB: #{rem(90)};
	@include media-breakpoint-up(lg) {
		--sPB: #{rem(180)};
		--sTPB: #{rem(85)};
	}
	&__row{
		// --bs-gutter-x: #{rem()};
		// --bs-gutter-y: #{rem()};

	}
	.section-title{
		
	}
	&__col{

	}
	&__item{

	}
	img{
		@include media-breakpoint-up(lg) { 
			border-radius: 20px;
		}
		border-radius: calc(#{rem(10px)} + 2vw);
	}
	picture{
		margin-bottom: rem(60);
	}
	.btn{
		width: rem(234);
	}
	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-between(md, xl) {}
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(xl) {}
} // end.sLaunchpad