mixin sLaunchpad(data)
	// start sLaunchpad
	+b.SECTION.sLaunchpad.section#sLaunchpad&attributes(attributes)
		.container.text-center
			+b.section-title
				h2 Hypers Launchpad
				p Hypers came to&nbsp;give young artists the opportunity to&nbsp;bring their ideas to&nbsp;life. We&nbsp;care about everyone. Be&nbsp;part of&nbsp;the Hypers ecosystem. We&nbsp;will give you access not only to&nbsp;the mint of&nbsp;your collection, but also to&nbsp;staking and raffles.
			//- +pic("home_desktop1.png")
			+pic("home_desktop1.png")
			a.btn.btn-outline-primary(href="#") Coming Soon
		
		.paper-bg
			img(src="img/paper-bg-up.png", alt="")
	// end sLaunchpad