mixin sLaunchpad(data)
	// start sLaunchpad
	+b.SECTION.sLaunchpad.section#sLaunchpad&attributes(attributes)
		.container.text-center
			+b.section-title
				h2 Hypers Launchpad
				p Hypers is&nbsp;a&nbsp;collection of&nbsp;5555&nbsp;NFTs. Stake and get $HYPERS. Use $HYPERS to&nbsp;buy NFT blue chips or&nbsp;participate in&nbsp;raffles. The holders manage the Hyperlty pool, which is&nbsp;constantly replenished with liquidity from the Launchpad, Staking, Raffles services and Royalty.
			+pic("home_desktop1.png")
			+pic("home_desktop2.png")
			a.btn.btn-outline-primary(href="#") Coming Soon
		
		.paper-bg
			img(src="img/paper-bg-up.png", alt="")
	// end sLaunchpad